@import './vendors';

$white: #fff;
$background: #F2F7F8;
$top-height: 50px;
$quickview-custom-bg: #272C33;

%navbar-color {
    background: #0178bc;
    background: -moz-linear-gradient(left, #318f94 0%, #5ec58c 100%);
    background: -webkit-linear-gradient(left, #318f94 0%, #5ec58c 100%);
    background: linear-gradient(to right, #318f94 0%, #5ec58c 100%);
}

body {
    background-color: $background;
    font-family: 'Rubik', serif;
}

.is-internal {
    padding: 15px;
}

strong {
    font-weight: 500;
}

.topbar {
    min-height: $top-height;
    padding: 5px;
    span, a, p, strong {
        color: $white;
    }
    @extend %navbar-color;
  }

  .timeline-marker {
      color: $white;
  }
  
.is-circular img {
    border-radius: 50%;
}

.is-menu {
    min-height: 48px;
    height: 48px;
    margin-top:5px;
}

.is-vcentered {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
  }

.card-content {
    h2 {
        font-weight: 300!important;
        line-height: 36px;
        font-size: 24px;
    }
    h4 {
        color: #2c2b2e;
        font-weight: 400;
        font-size: 18px;
    }
}


.quickview-custom  {
    padding: 0;
    .quickview-header {
        min-height: ($top-height + 8) !important;
        height: ($top-height + 8) !important;
        @extend %navbar-color;
        .title { 
            color: $white;
        }
    }
    .quickview-body {
        background: $quickview-custom-bg;
        color: #ccc;
        .menu-list {
            li {
                border-radius: 0;
                a {
                    color: #646F7F;
                    font-weight: 400;
                    padding: 20px;
                    border-radius: 0;
                    &:hover {
                        color: #62D06F;
                        border-left: 5px solid #62D06F;
                    }
                }
            }
        }
    }
}